body{
    background-color: blueviolet;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.container{
   background-color: white; 
   max-width: 900px;
   margin: 30px auto;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
}